COPPER_ASR_DEVICE=auto
COPPER_ASR_PRELOAD_MODEL=true
COPPER_ASR_REQUEST_TIMEOUT_S=28800
COPPER_ASR_ACQUIRE_TIMEOUT_S=30
COPPER_ASR_MAX_UPLOAD_MB=4096
COPPER_ASR_UPLOAD_CHUNK_BYTES=1048576
COPPER_ASR_MAX_CONCURRENT_REQUESTS=1
COPPER_ASR_ONNX_NUM_THREADS=4
COPPER_ASR_LOG_LEVEL=info
COPPER_ASR_MODEL_PATH=
COPPER_ASR_CACHE_DIR=/var/cache/copper-asr
COPPER_ASR_TMP_DIR=/tmp/copper-asr
